:root {
	--document-background: #0f0f0f;
	--document-foreground: #cacaca;

	--mar-sides: 6vw;

	--pallete-cyan: #12cfc0;
	--pallete-magenta: #e1a3ee;
	--pallete-yellow: #ddb26f;
	--pallete-dimmed: #151515;
	--pallete-deep: #606060;
}

h1 { --header-scale: 330%; }
h2 { --header-scale: 220%; }
h3 { --header-scale: 170%; }

*:not(ul,ol,li) {
	max-width: 1000px;
	padding: 0;
	margin: 0;
}

body,html {
	color: var(--document-foreground);
	background: var(--document-background);
}

div:not(.header-text,.t-overflow),p,pre,th,tr,td,table,summary {
	font-size: 1.25rem;
    line-height: 1.8rem;
	margin: 2rem var(--mar-sides) 1rem var(--mar-sides);
}

li { font-size: 1.25rem; }

pre {
    font-family: "JetBrains Mono";
	font-size: 110%;
	border-style: solid;
	border-width: 0.1rem;
	overflow-x: scroll;
	padding: 2rem;
}

ol { list-style-type: upper-roman; }
ul, ol {
	list-style-position: outside;
	list-style-type: square;
	margin-left: var(--mar-sides);
	margin-right: var(--mar-sides);
}

tr, th, td {
	font-size: 1.25rem;
	border: #cacaca;
	border-style: dashed;
	border-width: 1px;
	padding: 1rem;
	margin-right: var(--mar-sides);
}

table:not(.header){ margin-left: var(--mar-sides); margin-right: var(--mar-sides); }
table{
	border: #cacaca;
	border-style: solid;
	border-width: 1px;
	padding: 0.3rem;

	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

a {
	color: var(--pallete-cyan);
	background: var(--document-background);
	text-decoration-line: none;
}

a:hover {
	color: var(--document-background);
	background: var(--pallete-cyan);
	text-decoration-line: none;
}

/* Header links are used on front page to
 * somehow create visual difference between new & old posts */
a.header-link:hover {
	color: var(--document-background);
	background: var(--pallete-magenta);
}

a.header-link {
	color: var(--pallete-magenta);
	background: var(--document-background);
}

a.header-link2:hover {
	color: var(--document-background);
	background: var(--pallete-yellow);
}

a.header-link2 {
	color: var(--pallete-yellow);
	background: var(--document-background);
}

.header-pixelart { image-rendering: pixelated; }
img:not(.header, .header-pixelart, .icon) {
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}

h1, h2, h3, p, li, a { 
	font-family: "", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: var(--header-scale);
	font-weight: bold;
	margin: 1em var(--mar-sides) 1em var(--mar-sides);
}

h2 {
	font-size: var(--header-scale);
	margin-left: var(--mar-sides);
	margin-right: var(--mar-sides);
	margin-top: 3.5rem;
	padding-bottom: 0;
}

h3 {
	font-size: var(--header-scale);
	margin-left: var(--mar-sides);
	margin-right: var(--mar-sides);
	margin-top: 3.5rem;
	padding-bottom: 0rem;
}

.center { text-align: center; }

code {
	font-family: "JetBrains Mono";
    font-size: 80%; 
    font-weight: bold;

	color: var(--pallete-dimmed);
	background: var(--pallete-magenta);
	border-width: 0.2rem;
	border-radius: 2px;
	padding: 1px;
}

strong {
    font-family: "JetBrains Mono";
	font-size: 80%;
	font-weight: normal;

	color: var(--pallete-yellow);
	background: var(--document-background);
}

blockquote >* {
	font-size: 160%;
	font-style: italic;
	color: var(--pallete-deep);
	border-color: var(--pallete-deep);
	border-width: 0 0 0 1rem;
	border-style: double;
	padding-left: 1rem;
}

.s {
	color: var(--pallete-deep);
	background: var(--document-background);
}

::selection{
	color: var(--document-background);
	background: var(--document-foreground);
}

pre >* {
	font-family: "JetBrains Mono";
	font-size: 100%;
	border-style: solid;
	border-width: 0;
	padding: 0;
	margin: 0;
}
	
pre code.hljs {
	color: var(--document-foreground);
	background: var(--document-background);
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.hljs-keyword { color: #8f8aac; font-weight: bold; }
.hljs-title { color: #8aac8b; font-weight: normal; }
.hljs-comment { color: #4c4c4c; }
.hljs-type { color: #aca98a; }
.hljs-built_in { color: #8aac8b; }
.hljs-number { color: #8aabac; }
.hljs-string { color: #ac8aac; }
.hljs-literal { color: #8aabac; font-weight: bold; }
.hljs-operator { color: #ff00ff; }
